@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Kalam:wght@300;400;700&display=swap");

/* for-phone-only */
@media (max-width: 599px) {
}

/* for-tablet-portrait-up */
@media (min-width: 600px) {
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
}

/* for-desktop-up */
@media (min-width: 1200px) {
}

/* for-medium-desktop-up */
@media (min-width: 1400px) {
}

/* for-big-desktop-up */
@media (min-width: 1800px) {
}

:root {
  --screen-laptop: 1200px;
  --screen-mobile: 640px;
  /* --screen-laptop: max-width(425px); */

  --font-family: ;

  --font-weight-10: 400;
  --font-weight-20: 500;
  --font-weight-30: 600;
  --font-weight-40: 800;
  --font-weight-50: 900;

  /* line-height: 34px; */

  --font-size-10: 1.4rem;
  --font-size-20: 1.8rem;
  --font-size-30: 2.4rem;
  --font-size-40: 3rem;

  /* Colors */

  /* --color-yellow: #fbb01b; */
  --color-yellow: 251, 176, 27;
  /* --color-white: #fff; */
  --color-white: 255, 255, 255;
  /* --color-red-20: #ed4e3b; */
  --color-red-20: 237, 78, 59;
  /* --color-red-10: #b74134; */
  --color-red-10: 183, 65, 52;
  /* --color-grey-70: #f4f4f4; */
  --color-grey-70: 244, 244, 244;
  /* --color-grey-65: #eee; */
  --color-grey-65: 238, 238, 238;
  /* --color-grey-60: #e2e3e3; */
  --color-grey-60: 226, 227, 227;
  /* --color-grey-50: #d0d1d2; */
  --color-grey-50: 208, 209, 210;
  /* --color-grey-45: #bbb; */
  --color-grey-45: 187, 187, 187;
  /* --color-grey-40: #a2a3a5; */
  --color-grey-40: 162, 163, 165;
  /* --color-grey-35: #8e8e8e; */
  --color-grey-35: 142, 142, 142;
  /* --color-grey-30: #5c5e62; */
  --color-grey-30: 92, 94, 98;
  /* --color-grey-25: #444; */
  --color-grey-25: 68, 68, 68;
  /* --color-grey-20: #393c41; */
  --color-grey-20: 57, 60, 65;
  /* --color-grey-15: #222; */
  --color-grey-15: 34, 34, 34;
  /* --color-grey-10: #171a20; */
  --color-grey-10: 23, 26, 32;
  /* --color-green: #12bb00; */
  --color-green: 18, 187, 0;
  --color-green-10: 18, 187, 0;
  /* --color-blue-40: #3368ff; */
  --color-blue-40: 51, 104, 255;
  /* --color-blue-30: #3e6ae1; */
  --color-blue-30: 51, 104, 255;
  /* --color-blue-20: #3457b1; */
  --color-blue-20: 52, 87, 177;
  /* --color-black: #000; */
  --color-black: 0, 0, 0;

  --color-primary: #ffff;
  --color-accent: ;
  --color-success: rgb(var(--color-green));
  --color-error: rgb(var(--color-red-20));
  --color-warning: rgb(var(--color-yellow));
  --color-info: rgb(var(--color-blue-40));

  --text-color-1: rgb(var(--color-grey-10));
  --text-color-2: rgb(var(--color-white));

  --border-radius: 4px;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: var(--font-size-10);
}

html {
  font-size: 62.5%;
  font-family: "Gotham SS";
}

body {
  color: var(--text-color-1);
}

h1 {
  font-size: var(--font-size-40);
}

h2 {
  font-size: var(--font-size-30);
}

p {
  font-size: var(--font-size-10);
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  /* background: #999; */
}

textarea:focus,
input:focus,
select:focus,
table:focus {
  outline: 1px solid rgb(var(--color-grey-50));
}

input[type="file"] {
  display: none;
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.5s all;
}

select {
  display: block;
  width: 100%;
  font-size: inherit;
  padding: 0.8rem 0.5rem;
  border: 1px solid #333;
  font-family: inherit;
  /** for the dropdown indicator */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.App {
  background-color: #fefefe;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-title {
  font-family: "Kalam", cursive;
}

.loader-container {
  background-color: rgba(var(--color-grey-70), 0.92);
  /* background-color: coral; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* .header-container {
} */

.content-container {
  flex: 1;
  display: flex;
  padding: 0 4.8rem;
}

.mobile-content-container {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.tab-dropdown-btn {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Modal styling */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.modal-closed {
  display: none;
}

.modal {
  background-color: var(--color-primary);
  width: 85%;
  max-width: 40rem;
  border-radius: 14px;
}

@media (max-width: 600px) {
  .modal-overlay {
    align-items: flex-end;
  }

  .modal {
    width: 100%;
    max-width: 100%;
  }
}

.modal-header {
  padding: 2.6rem 1.6rem 1.6rem 4.8rem;
  display: flex;
  justify-content: space-between;
}

.modal-cross {
  cursor: pointer;
}

.error-box {
  background-color: rgb(var(--color-grey-70));
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 4.8rem;
  padding: 0.6em 1.2em;
  color: var(--color-error);
  overflow: hidden;
  border-radius: var(--border-radius);
}

.modal-content {
  padding: 0 4.8rem 3.8rem;
}

.modal-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.modal-input-field {
  margin-top: 0.5rem;
  height: 3.5rem;
  background-color: rgb(var(--color-grey-70));
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
}

.modal-btn-container {
  margin: 1.8rem 0;
  display: flex;
  justify-content: center;
}

.modal-btn {
  color: var(--text-color-2);
  background-color: rgb(var(--color-blue-30));
  margin-top: 0.5rem;
  width: 100%;
}

.modal-btn:disabled {
  /* background-color: rgba(var(--color-blue-30), 2); */
  background-color: rgba(var(--color-blue-20), 0.5);
}

.modal-btn:hover {
  background-color: rgb(var(--color-blue-20));
}

.modal-message-card {
  background-color: rgb(var(--color-grey-70));
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 0.5rem;
  padding: 0.6em 1.2em;
  margin-bottom: 3rem;
  overflow: hidden;
}

/* edit profile photo */

.upload-img {
  background-color: rgb(var(--color-grey-70));
  display: flex;
  padding: 0.6em 1.2em;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.upload-icon {
  transform: scale(1.1);
}

.modal-message-card .upload-cross-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.page-404 {
  height: 100vh;
  background-color: var(--color-grey-60);
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-unauthorized {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* popup styling */

.popup {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.popup-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.popup-content {
  position: absolute;
  background-color: rgb(var(--color-grey-60));
  border: 1px solid rgb(var(--color-grey-50));
  border-radius: var(--border-radius);
  padding: 0.6em 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  list-style: none;
}

.popup-list-item {
  cursor: pointer;
  border-radius: var(--border-radius);
  padding: 0.3rem 0.8rem;
}
.popup-list-item:hover {
  background-color: rgb(var(--color-grey-50));
}
