.container {
  /* background-color: green; */
  padding: 0 2rem;
  width: 100%;
  overflow: hidden;
}

.input-container {
  /* padding: 2rem; */
}

.form {
  display: flex;
  /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  gap: 1rem;
  flex-direction: column;
  /* background-color: coral; */
}

.output-container {
  background-color: bisque;
}

.select-user-container {
  /* max-width: 400px; */
  background-color: burlywood;
}

.select-role-container {
  /* max-width: 400px; */
  background-color: burlywood;
}

.user-list-label {
  /* background-color: coral; */
  font-size: var(--font-size-20);
}

.user-list {
  /* remove the dropdown arrow */
  background-image: none;
  margin: 1rem 0;
}

.user-items {
  font-size: var(--font-size-10);
  color: var(--text-color-1);
  padding: 0.5rem;
}

/* .user-items:focus {
  background-color: var(--color-info);
  color: var(--text-color-2);
} */

.user-items:checked {
  background-color: var(--color-info);
  color: var(--text-color-2);
}
