/* .container { */
/* background-color: rgb(var(--color-grey-70)); */
/* } */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2.5rem;
}

.menu-wrapper {
  /* background-color: green; */
  display: flex;
  align-items: center;
  gap: 1rem;
  /* position: absolute; */
}

/* searchbar stylings */

.search-bar {
  /* background-color: coral; */
  /* width: 50rem; */
  margin-left: 0.5rem;
  background-color: inherit;
  border: none;
}

.search-bar:focus {
  outline: none;
}

.search-container {
  height: 3.5rem;
  background-color: rgb(var(--color-grey-70));
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: var(--border-radius);
  width: 100%;
  outline: none;
  display: flex;
  align-items: center;
}

.search-icon {
  /* margin-right: 1rem; */
  cursor: pointer;
}

/* notification styling */
.notification-icon {
  cursor: pointer;
}

/* avatar styling */

.avatar-container {
  /* background-color: rgba(var(--color-grey-65), 0);
  height: 9rem;
  width: 9rem; */
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

.avatar-container:hover {
  /* background-color: rgba(var(--color-grey-65), 1); */
}

.user-actions-wrap {
  background-color: rgb(var(--color-grey-70));
  position: absolute;
  z-index: 1;
  top: 10%;
  right: 3%;
  min-width: 25rem;
  max-height: 0px;
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: max-height 0.5s;
}

.user-actions-wrap.open-menu {
  max-height: 500px;
}

.user-actions {
  padding: 2rem;
  margin: 1rem;
}

.user-actions h2 {
  font-weight: var(--font-weight-30);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info-avatar {
  margin-right: 1.5rem;
}

.user-actions hr {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(var(--color-grey-50));
  margin: 1.5rem 0 1rem;
}

.user-info-links {
  color: var(--text-color-1);
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 1.2rem 0;
  transition: all 0.5s;
  cursor: pointer;
}

.user-info-links p {
  flex: 1;
  transition: all 0.5s;
}

.user-info-links:hover p {
  transform: scale(1.1);
  /* font-weight: var(--font-weight-30); */
}

.icon-container {
  /* background-color: rgb(var(--color-grey-50)); */
  margin-right: 1.2rem;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

/* .user-info-links:hover .icon-container {
  background-color: rgb(var(--color-grey-50));
  margin-right: 1.5rem;
} */

.icons {
  transform: scale(1.1);
}

.user-info-links span {
  transition: all 0.5s;
}

.right-arrows {
  transform: scale(1.1);
}

.user-info-links:hover .right-arrows {
  transform: translateX(1rem);
}
