.container {
  min-width: 24rem;
  padding: 4.4rem 0;
  font-size: var(--font-size-20);
  color: var(--text-color-1);
}

.tab-list {
  padding: 0 1rem;
  list-style: none;
  transition: all 0.5s;
}

.tab-list a {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-20);
  color: rgb(var(--color-grey-20));
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 2rem 0.8rem;
  padding: 0.5rem 0;
  transition: all 0.5s;
}

.tab-list a:hover {
  transform: scale(1.04);
}

.icon-container {
  margin: 0 2rem 0 0;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

/* .links:hover { */
/* background-color: rgb(var(--color-grey-65)); */
/* font-weight: var(--font-weight-30); */
/* transform: scale(1.1); */
/* } */

:global a.active > div {
  background-color: rgb(var(--color-grey-65));
}

.icons {
  transform: scale(1.3);
}

.overlay {
  /* display: none; */
  position: absolute;
  background-color: rgba(var(--color-grey-65), 0.96);
  color: green;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  padding: 3rem 2rem;
}

.open {
  display: none;
}

.cross-container {
  text-align: right;
}

.overlay .cross {
  transform: scale(1.3);
}
