.container {
  /* background-color: blanchedalmond; */
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.5rem;
}

.body {
  /* background-color: rebeccapurple; */
  height: 100%;
  padding: 1rem;
}

.card {
  /* background-color: coral; */
  margin: 2.5rem auto;
  max-width: 53rem;
  padding: 0 12rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.title {
}

.form {
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.input-field {
  margin-top: 0.5rem;
  height: 3.5rem;
  background-color: var(--color-grey-70);
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: var(--border-radius);
  width: 100%;
  outline: none;
}

.btn-container {
  margin: 1.8rem 0;
  display: flex;
}

.btn {
  width: 100%;
  background-color: var(--color-grey-70);
  border-radius: var(--border-radius);
}

.btn-next {
  /* margin-top: 1rem; */
  color: white;
  background-color: var(--color-blue-30);
  margin-top: 0.5rem;
}

.btn-create {
}

.forgot-pass-container {
  display: flex;
  justify-content: center;
}

.hr-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1.5rem;
}
