:root {
  --font-family: ;

  /* Colors */
  --clr-primary: ;
  --clr-accent: ;
  --clr-success: #81c784;
  --clr-error: #e57373;
  --clr-warning: #ffb74d;
  --clr-info: #4fc3f7;

  --border-radius: 6px;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
}

.App {
  background-color: coral;
  height: 100vh;
}
