@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&family=Kalam:wght@300;400;700&display=swap");

:root {
  --font-family: ;

  --font-weight-10: 400;
  --font-weight-20: 500;
  --font-weight-30: 600;
  --font-weight-40: 800;
  --font-weight-50: 900;

  /* line-height: 34px; */

  --font-size-10: 1.4rem;
  --font-size-20: 1.8rem;
  --font-size-30: 2.4rem;
  --font-size-40: 3rem;

  /* Colors */

  /* --color-yellow: #fbb01b; */
  --color-yellow: 251, 176, 27;
  /* --color-white: #fff; */
  --color-white: 255, 255, 255;
  /* --color-red-20: #ed4e3b; */
  --color-red-20: 237, 78, 59;
  /* --color-red-10: #b74134; */
  --color-red-10: 183, 65, 52;
  /* --color-grey-70: #f4f4f4; */
  --color-grey-70: 244, 244, 244;
  /* --color-grey-65: #eee; */
  --color-grey-65: 238, 238, 238;
  /* --color-grey-60: #e2e3e3; */
  --color-grey-60: 226, 227, 227;
  /* --color-grey-50: #d0d1d2; */
  --color-grey-50: 208, 209, 210;
  /* --color-grey-45: #bbb; */
  --color-grey-45: 187, 187, 187;
  /* --color-grey-40: #a2a3a5; */
  --color-grey-40: 162, 163, 165;
  /* --color-grey-35: #8e8e8e; */
  --color-grey-35: 142, 142, 142;
  /* --color-grey-30: #5c5e62; */
  --color-grey-30: 92, 94, 98;
  /* --color-grey-25: #444; */
  --color-grey-25: 68, 68, 68;
  /* --color-grey-20: #393c41; */
  --color-grey-20: 57, 60, 65;
  /* --color-grey-15: #222; */
  --color-grey-15: 34, 34, 34;
  /* --color-grey-10: #171a20; */
  --color-grey-10: 23, 26, 32;
  /* --color-green: #12bb00; */
  --color-green: 18, 187, 0;
  /* --color-blue-40: #3368ff; */
  --color-blue-40: 51, 104, 255;
  /* --color-blue-30: #3e6ae1; */
  --color-blue-30: 51, 104, 255;
  /* --color-blue-20: #3457b1; */
  --color-blue-20: 52, 87, 177;
  /* --color-black: #000; */
  --color-black: 0, 0, 0;

  --color-primary: ;
  --color-accent: ;
  --color-success: rgb(var(--color-green));
  --color-error: rgb(var(--color-red-20));
  --color-warning: rgb(var(--color-yellow));
  --color-info: rgb(var(--color-blue-40));

  --text-color-1: rgb(var(--color-grey-10));
  --text-color-2: rgb(var(--color-white));

  --border-radius: 4px;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: var(--font-size-10);
}

html {
  font-size: 62.5%;
  font-family: "Gotham SS";
}

body {
  color: var(--text-color-1);
}

h1 {
  font-size: var(--font-size-40);
}

h2 {
  font-size: var(--font-size-30);
}

p {
  font-size: var(--font-size-10);
}

hr {
  border: 0;
  width: 100%;
  border-bottom: 1px solid #ccc;
  /* background: #999; */
}

textarea:focus,
input:focus {
  outline: 1px solid rgb(var(--color-grey-50));
}

button {
  border-radius: var(--border-radius);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 0.5s all;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.App {
  background-color: #fefefe;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-title {
  font-family: "Kalam", cursive;
}

.loader-container {
  background-color: rgba(var(--color-grey-70), 0.92);
  /* background-color: coral; */
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* .header-container {
} */

.content-container {
  flex: 1;
  display: flex;
  padding: 0 4.8rem;
}
