.container {
  /* background-color: blanchedalmond; */
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.5rem;
}

.body {
  padding: 1rem;
}

.card {
  /* background-color: coral; */
  margin: 2.5rem auto;
  max-width: 53rem;
  padding: 0 12rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.error-card {
  background-color: rgb(var(--color-grey-70));
  display: flex;
  gap: 0.5rem;
  padding: 0.6em 1.2em;
  color: var(--color-error);
}

.success-card {
  background-color: rgb(var(--color-grey-70));
  display: flex;
  gap: 0.5rem;
  padding: 0.6em 1.2em;
  color: var(--color-success);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.input-field {
  margin-top: 0.5rem;
  height: 3.5rem;
  background-color: rgb(var(--color-grey-70));
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: var(--border-radius);
  width: 100%;
  outline: none;
}

.btn-container {
  margin: 1.8rem 0;
  display: flex;
  justify-content: center;
}

.btn {
  width: 100%;
  background-color: rgb(var(--color-grey-70));
  border-radius: var(--border-radius);
}

.btn-auth {
  color: var(--text-color-2);
  background-color: rgb(var(--color-blue-30));
  margin-top: 0.5rem;
}

.btn-auth:hover {
  background-color: rgb(var(--color-blue-20));
}

.btn-create {
  transition: 0.5s all;
}

.btn-create:hover {
  background-color: rgb(var(--color-grey-60));
}

.alternate-option-container,
.demo-user-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.demo-user-link {
  text-decoration: underline;
  cursor: pointer;
}

.hr-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1.5rem;
}
