.container {
  /* background-color: blanchedalmond; */
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2.5rem;
}

.body {
  padding: 1rem;
}

.card {
  margin: 2.5rem auto;
  max-width: 40rem;
  padding: 0 5rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media (min-width: 640px) {
  .card {
    /* max-width: 53rem; */
    /* padding: 0 12rem; */
  }
}

.error-card {
  background-color: rgb(var(--color-grey-70));
  display: flex;
  gap: 0.5rem;
  padding: 0.6em 1.2em;
  color: var(--color-error);
  overflow: hidden;
}

.success-card {
  background-color: rgb(var(--color-grey-70));
  display: flex;
  gap: 0.5rem;
  padding: 0.6em 1.2em;
  color: var(--color-success);
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.input-field {
  margin-top: 0.5rem;
  height: 3.5rem;
  background-color: rgb(var(--color-grey-70));
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: var(--border-radius);
  width: 100%;
  outline: none;
}

select {
  display: block;
  width: 100%;
  font-size: inherit;
  padding: 0.8rem 0.5rem;
  border: 1px solid #333;
  font-family: inherit;
  /** for the dropdown indicator */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 1em;
}

.btn-container {
  margin: 1.8rem 0;
  display: flex;
  justify-content: center;
}

.btn {
  width: 100%;
  background-color: rgb(var(--color-grey-70));
  border-radius: var(--border-radius);
}

.btn-auth {
  color: var(--text-color-2);
  background-color: rgb(var(--color-blue-30));
  margin-top: 0.5rem;
}

.btn-auth:hover {
  background-color: rgb(var(--color-blue-20));
}

.btn-create {
  transition: 0.5s all;
}

.btn-create:hover {
  background-color: rgb(var(--color-grey-60));
}

.alternate-option-container,
.demo-user-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.demo-user-link {
  text-decoration: underline;
  cursor: pointer;
}

.hr-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1.5rem;
}
